
.gallery {
  width: 80%;
}

.image-cell img {
  width: 100%;
  height: auto;
  display: block;
}

.image-cell {
  width: 100%;
  min-height: 150px;
  overflow: hidden;

  border: 0.35rem outset #555;
}

.image-container {
  width: 100%;
}
