.image-row {
  flex-direction: column;
}

.image-col,
.image-attrs-col {
  flex: 1;
  margin-bottom: 8px;
}

.placeholder-container {
  width: 275px;
  height: 240px;
  margin: 0 auto;
}

.placeholder-container .placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
}

@media (max-width: 374px) {
  .placeholder-container {
    width: 248px;
    height: 216px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .image-row {
    flex-direction: row;
  }

  .image-col {
    flex: 0;
  }
}
