.preview-image-container {
    width: 270px;
    height: 200px;
    margin: 0 auto;
}

.preview-image {
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
}

.preview-image-tooltip {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-color: white;
    border: 2px solid white;
    background-position: center;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDkyIDkyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA5MiA5MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+CjxnPgoJPHBhdGggZD0iTTQ1LjM4NiwwLjAwNEMxOS45ODMsMC4zNDQtMC4zMzMsMjEuMjE1LDAuMDA1LDQ2LjYxOWMwLjM0LDI1LjM5MywyMS4yMDksNDUuNzE1LDQ2LjYxMSw0NS4zNzcgICBjMjUuMzk4LTAuMzQyLDQ1LjcxOC0yMS4yMTMsNDUuMzgtNDYuNjE1QzkxLjY1NiwxOS45ODYsNzAuNzg2LTAuMzM1LDQ1LjM4NiwwLjAwNHogTTQ1LjI1LDc0bC0wLjI1NC0wLjAwNCAgIGMtMy45MTItMC4xMTYtNi42Ny0yLjk5OC02LjU1OS02Ljg1MmMwLjEwOS0zLjc4OCwyLjkzNC02LjUzOCw2LjcxNy02LjUzOGwwLjIyNywwLjAwNGM0LjAyMSwwLjExOSw2Ljc0OCwyLjk3Miw2LjYzNSw2LjkzNyAgIEM1MS45MDQsNzEuMzQ2LDQ5LjEyMyw3NCw0NS4yNSw3NHogTTYxLjcwNSw0MS4zNDFjLTAuOTIsMS4zMDctMi45NDMsMi45My01LjQ5Miw0LjkxNmwtMi44MDcsMS45MzggICBjLTEuNTQxLDEuMTk4LTIuNDcxLDIuMzI1LTIuODIsMy40MzRjLTAuMjc1LDAuODczLTAuNDEsMS4xMDQtMC40MzQsMi44OGwtMC4wMDQsMC40NTFIMzkuNDNsMC4wMzEtMC45MDcgICBjMC4xMzEtMy43MjgsMC4yMjMtNS45MjEsMS43NjgtNy43MzNjMi40MjQtMi44NDYsNy43NzEtNi4yODksNy45OTgtNi40MzVjMC43NjYtMC41NzcsMS40MTItMS4yMzQsMS44OTMtMS45MzYgICBjMS4xMjUtMS41NTEsMS42MjMtMi43NzIsMS42MjMtMy45NzJjMC0xLjY2NS0wLjQ5NC0zLjIwNS0xLjQ3MS00LjU3NmMtMC45MzktMS4zMjMtMi43MjMtMS45OTMtNS4zMDMtMS45OTMgICBjLTIuNTU5LDAtNC4zMTEsMC44MTItNS4zNTksMi40NzhjLTEuMDc4LDEuNzEzLTEuNjIzLDMuNTEyLTEuNjIzLDUuMzV2MC40NTdIMjcuOTM2bDAuMDItMC40NzcgICBjMC4yODUtNi43NjksMi43MDEtMTEuNjQzLDcuMTc4LTE0LjQ4N0MzNy45NDcsMTguOTE4LDQxLjQ0NywxOCw0NS41MzEsMThjNS4zNDYsMCw5Ljg1OSwxLjI5OSwxMy40MTIsMy44NjEgICBjMy42LDIuNTk2LDUuNDI2LDYuNDg0LDUuNDI2LDExLjU1NkM2NC4zNjksMzYuMjU0LDYzLjQ3MywzOC45MTksNjEuNzA1LDQxLjM0MXoiIGZpbGw9IiMzNzVhN2YiLz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
}

.preview-image-tooltip.active::after {
    top: 30px;
    right: 10px;
    width: 225px;
    display: flex;
    position: absolute;
    border-radius: 4px;
    content: attr(title);
    background: #303030;
    border: 1px solid #303030;
}