.image {
  width: 200px;
  height: 150px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.image-container {
  cursor: pointer;
}

.delete-image {
  cursor: pointer;
}

.delete-image:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.th-40 {
  width: 40px;
}

.th-image {
  width: 220px;
}

@media (min-width: 610px) {
  .pagination-compact {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 610px) {
  .responsive-table * {
    box-sizing: border-box;
  }

  .responsive-table *:before,
  .responsive-table *:after {
    box-sizing: border-box;
  }

  .responsive-table .image-table {
    border: none;
    display: block;
    box-shadow: none;
    background: transparent;
  }

  .responsive-table .image-table .image-tbody {
    display: block;
  }

  .responsive-table .image-table .image-thead tr:first-child {
    display: none;
  }

  .responsive-table .image-table .image-tbody tr {
    width: 100%;
    display: block;
    margin-bottom: 7px;
    border: 1px solid #383838;
  }

  .responsive-table .image-table .image-tbody td {
    border: none;
    display: block;
    text-align: left;
    position: relative;
    padding-bottom: 5px;
  }

  .responsive-table .image-table .image-tbody td:before {
    padding-right: 5px;
  }

  .responsive-table .image-table .image-tbody td {
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .responsive-table .image-table .image-tbody .image-container {
    height: 300px;
    display: block;
  }

  .responsive-table .image-table .image-tbody .image-container .image {
    height: 100%;
    width: 100%;
  }

  .responsive-table .image-table .image-tfoot {
    display: flex;
    justify-content: center;
  }

  .responsive-table .image-table .image-tfoot > tr {
    display: inline-flex;
  }

  .responsive-table .image-table .image-tfoot > tr > td {
    border-top: none;
    display: inline-flex;
  }

  .responsive-table .image-table .image-tfoot .table {
    margin-bottom: 0;
  }

  /* ---------------------------------------
      insert column labels before each cell
    ---------------------------------------- */
  .responsive-table
    .image-table
    .image-tbody
    td[data-cell-name]:not([data-cell-name='']):before {
    content: attr(data-cell-name);
    font-weight: bold;
  }
}
