.navbar {
  padding: 10px 16px;
}

.navbar .nav-link.active:hover {
  cursor: default;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-brand .icon,
.navbar .navbar-collapse .icon {
  height: 24px;
  width: 24px;
}

.navbar .navbar-brand .icon {
  display: inherit;
}

.navbar .navbar-collapse .icon {
  display: inline-flex;
}

.icon.all-images {
  background: url(../../assets/menu.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.add-new-image {
  background: url(../../assets/new-image.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.home {
  background: url(../../assets/home.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar-collapse .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-collapse .nav-link .icon {
  margin-right: 8px;
}

.navbar-collapse .nav-link .nav-link-name {
  display: inline-flex;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 4px;
  }
}
