.hero {
  min-height: 50vh;
}

.hero-body {
  padding-top: 5rem;
}

.hero-foot .level {
  justify-content: center;
}

.hero-foot .level > .level-item {
  flex-grow: 0;
}

.hero-foot .level > .level-item:not(:last-child) {
  margin-right: 1rem;
}
